<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089164567740-i8fdibf2703u5vn98q1ibm80ro5hbjvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089164567740-i8fdibf2703u5vn98q1ibm80ro5hbjvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDHr0Y3Am-ZbDxwOq8zWacgEaNy3fyorzc</string>
	<key>GCM_SENDER_ID</key>
	<string>1089164567740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurtra.bingeeatingapp</string>
	<key>PROJECT_ID</key>
	<string>bed-app-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>bed-app-reactnative.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089164567740:ios:8638c90ef1cde3f0209cb9</string>
</dict>
</plist>